.ctrl-main {
  display: flex;
  flex-direction: row;
}

.ctrl-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.controller-item {
  @apply flex w-full h-full;
}

.controller-item .inside {
  @apply flex flex-col w-full h-full;
  @apply p-1 border border-gray-300 rounded;
}

.controller-item .inside .row {
  @apply flex flex-row items-center p-2 border-b border-gray-300;
}

input, select {
  color: black;
}

/*
.ctrl-video-container,
.ctrl-counter-container {
  margin: 20px;
}

.ctrl-video-wrapper,
.ctrl-counter-wrapper {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
}

.ctrl-position-controls {
  margin-top: 10px;
}

.ctrl-position-controls label {
  display: block;
  margin-bottom: 5px;
}

.ctrl-counter-controls button {
  margin: 5px;
}

.ctrl-size-controls {
  margin-top: 10px;
}

.ctrl-size-controls label {
  display: block;
  margin-bottom: 5px;
} */
